<a href="https://colab.research.google.com/github/aswinselva03/PythonInADay/blob/main/Python_in_a_Day_BuiltIn_Functions_Notebook_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Do not re-invent the wheel

Python has lot of useful built in functions which are very efficient and can be used in your code. Use as much of this functions as possible, instead of coding it yourself which is time consuming.

The more built-in function you use the better you code

## Built-in functions for numbers

### int, float

Type casts (convert) other data types into integer and float

In [ ]:
a = "5"
print(type(a))

b = int(a)
print(type(b))

<class 'str'>
<class 'int'>

In [ ]:
a = 5
print(type(a))

b = float(a)
print(type(b))

<class 'int'>
<class 'float'>

## Useful case where we typecast to int very often

###input

Allows the program to get inputs from user and save it in a variable

```
variable_name = input(Description About input)
```

In [ ]:
# Get input from user and find if the entered number is odd or even
num = input("Enter a number:")
if num%2 == 0:
  print("The entered number is even")
else:
  print("The entered number is odd")

Enter a number:5

TypeError: ignored

In [ ]:
## what will be the entered input type
type(num) # it is always string, but we have entered a number what to do here

str

In [ ]:
# we can type cast the input to int
num = int(num)
type(num)

int

In [ ]:
# we can also do all this in a single step
# Get input from user and find if the entered number is odd or even
num = int(input("Enter the number:"))
if num%2 == 0:
  print("The entered number is even")
else:
  print("The entered number is odd")

Enter the number:9
The entered number is odd

### abs

converts negative values into absolute number(positive)

In [ ]:
abs(-5)

5

### pow(num,pow)

returns the value of number to the power of pow

In [ ]:
##
pow(5,2)

25

### round(number,digit)

rounds off a number to the digits passed

In [ ]:
round(5.4673,2)

5.47

## math module

so far we have seen readily available functions in python without importing any module. Math module in python has many useful built in functions for numbers.
To import and use math module you can use two ways

only import:
```
import math
math.func_name(args)
```

from import:
```
from math import func_name
func_name
```



### sqrt

To find square root of a number

In [ ]:
import math
math.sqrt(25)

5.0

In [ ]:
from math import sqrt
sqrt(25)

5.0

## floor and ceil



```
floor - returns the greatest integer less than or equal to the number passed
ceil - returns the smallest integer greater than or equal to the number passed
```

In [ ]:
print(math.floor(7.99))
print(math.ceil(7.99))

7
8

### other imp functions in math



```
factorial - returns factorial of a number
log10 - returns logarithm of a number with provided base, here 10
trignometry functions like sin, cos etc
```

In [ ]:
print(math.factorial(5))
print(math.log10(10))
print(math.cos(0))

120
1.0
1.0

## random module

Often you need to generate random numbers in your program to shuffle and introduce some uncertainity. for e.g. in a quiz, game choosing the question should be random


```
import random
random.function_name(args)
```

Two main functions in random for numbers are



```
import random
random.random() - returns random float number between 0 and 1
random.randint(start, end) - returns a random integer between start and end
```

In [ ]:
import random
print(random.random())

# What if you generate a random number between 2 and 10
print(2 + 8*random.random())

0.8605047846299707
5.343879959379579

In [ ]:
import random
print(random.randint(0, 1000)) # generates random number between 0 and 1000

929

## Built-in functions for Strings

### str

Type casts other data types to string, very useful in printing values of variables and logging messages

In [ ]:
# When concatenating, we have to make sure both operands are string
a = 5
print("The value of a is "+a)

TypeError: ignored

In [ ]:
a = 5
print("The value of a is "+str(a))

The value of a is 5

In [ ]:
list_1 = [1,2,4,6,2,4]
str(list_1)

'[1, 2, 4, 6, 2, 4]'

## print

print function helps you to print a message, often it is used to understand the program flow and debug variable values. Also pass message from the code to the user



```
print(string1, string2, string3..) # print function accepts string as argument.
If you do not send a variable of string datatype, print function will typecast it to string
```

In [ ]:
a = 5
type(a)

int

In [ ]:
print(a) # here a will be first converted to string and then printed

5

In [ ]:
print("Hi", "I", "am", "watching", "you!") # you can send variable number of strings to print function
print("I have",a, "chocolates")
# The above can also be written using a single string, by concatenation
print("I have "+str(a)+" chocolates") # Note while concatenating, we have to give extra space

Hi I am watching you!
I have 5 chocolates
I have 5 chocolates

## print statement with escape sequence

Escape sequence is a sequence of characters, that doesn't represent itself when used inside a string

some of the widely used escape sequences are listed below
```
\n - new line
\t - tab space
\" - double quotes
\' - single quotes
```

In [ ]:
print('hello \nWorld')
print('hello\tWorld')
print("It\"s great to see you all in python class")
print('It\'s great to see you all in python class')

### split

```
split(<seperator>) - splits the string at seperator mentioned inside the function

example:
"string".split(",")

```

In [ ]:

sentence = "This is an example line to demo some of the string built in function."
list_of_Words = sentence.split(" ") # splits at space
print(list_of_Words)

sentences = "See I'm not a monster. I'm just ahead of the curve"
list_of_sentences = sentences.split(".") #splits at .
print(list_of_sentences)

['This', 'is', 'an', 'example', 'line', 'to', 'demo', 'some', 'of', 'the', 'string', 'built', 'in', 'function.']
["See I'm not a monster", " I'm just ahead of the curve"]

## strip

```
strip(<character to remove>) - removes character from both ends of string
lstrip(<character to remove>) - removes character from left ends of string
rstrip(<character to remove>) - removes character from right ends of string

example:
string.strip(";") # removes semicolon from both ends of string
```

In [ ]:
print("strip removes white space at both ends if empty character in function:")
print("          hello world    ".strip())
print("It only removes character at end not at the middle:")
print("hel,lo,,,,,".strip(','))

strip removes white space at both ends if empty character in function: hello world
It only removes character at end not at the middle: hel,lo

In [ ]:
print("lstrip removes character at left end only")
print(",,,,,,,,,,hello world,,,,,,,".lstrip(","))
print("rstrip removes character at right end only")
print(",,,,,,,,,,hello world,,,,,,,".rstrip(","))

lstrip removes character at left end only
hello world,,,,,,,
rstrip removes character at right end only
,,,,,,,,,,hello world

### Upper case and Lower case



```
lower - converts the string to lower case
upper - converts the string to upper case
```

In [ ]:
# we have two strings, how to check if both strings are equal
change_lower = "hEllO WorlD"
check_equal = "HEllo wORLd"

# in english they are equal, but to python they are not since python is not case sensitive
print(change_lower == check_equal)

# we have to bring it to a common case to find if they are equal

print(change_lower.lower() == check_equal.lower())

False
True

In [ ]:
change_upper = """their morals, their code; it's a bad joke. Dropped at the first sign of trouble. they're only as good as the world allows them to be.
You'll see- I'll show you. When the chips are down these, uh, civilized people? They'll eat each other. See I'm not a monster, I'm just ahead of the curve"""
print(change_upper.upper())

THEIR MORALS, THEIR CODE; IT'S A BAD JOKE. DROPPED AT THE FIRST SIGN OF TROUBLE. THEY'RE ONLY AS GOOD AS THE WORLD ALLOWS THEM TO BE.
YOU'LL SEE- I'LL SHOW YOU. WHEN THE CHIPS ARE DOWN THESE, UH, CIVILIZED PEOPLE? THEY'LL EAT EACH OTHER. SEE I'M NOT A MONSTER, I'M JUST AHEAD OF THE CURVE

## format string

Format string is mainly used in python to replace placeholders with actual text.



```
"{0} world, {1}".format("hello", "morning")
{} - is the place holder for text
{0} - 0 index points to the first string inside format function
{1} - 1 index points to the second string inside format function
```



It does has more functionality to align and decorate text

In [ ]:
country = "United Kingdom"
capital = "London"

# format string to fill placeholders
print("{0} is the capital of {1}. {0}, also is financial capital of the world".format(capital, country))

London is the capital of United Kingdom. London, also is financial capital of the world

This will work too!

```
"{} world, {}".format("hello", "morning")
{} - index number inside the bracket is not mandatory, python will assume, the first bracket is for first string in format function, and the next bracket is for second one and so on
```

In [ ]:
country = "United States"
capital = "Washington, D.C."
confused = "New York"

# format string to fill placeholders without index inside bracket
print("{} is the capital of {}. But many thinks it is {}".format(capital, country, confused))

Washington, D.C. is the capital of United States. But many thinks it is New York

## f-strings

As of python 3.6 f-strings are new way of formatting strings and it is simpler and more readable compared to format string



```
"{0} world, {1}".format("hello", "morning") # format function
The same using f-string
greeting = "hello"
time_of_day = "morning"
f"{greeting} world, {time_of_day}" # note that instead of format function, we just add a f infront of the string

Instead of indexes, you can fill the variable name directly inside f-string
```

In [ ]:
country = "United States"
capital = "Washington, D.C."
confused = "New York"

# format string to fill placeholders without index inside bracket
print(f"{capital} is the capital of {country}. But many thinks it is {confused}")

Washington, D.C. is the capital of United States. But many thinks it is New York

## find and index method

Both find and index method searches the string for a substring and returns the index at which the substring is found. The only difference is that, index will throw error if substring is not found



```
"string".find(value, start, end)
"string".find(value, start, end)

value - value to search for
start - index value from where to start the search from
end - index value from where to end the search
```

In [ ]:
## find
print("As you know, madness is like gravity...all it takes is a little push.".find("mad")) # will return index of mad
print("As you know, madness is like gravity...all it takes is a little push.".index("mad"))

13
13

In [ ]:
# start as 14, where as mad starts at 13. It will return -1, stating unable to find the word mad
print("As you know, madness is like gravity...all it takes is a little push.".find("mad", 14))

-1

In [ ]:
## The same with index function will throw error
print("As you know, madness is like gravity...all it takes is a little push.".index("mad", 14))

ValueError: ignored

## Built in functions for sequences - list, tuple etc.

### len

returns the lenght of the sequence


```
len(<sequence>)
```

In [ ]:
list_1 = [1,3,5,6,7,9,0,12,14,2,30]
tuple_1 = (2,3,4,5,6,1,12,14,15,11,22,21,24,27,28)
dict_1 = {"student_name":"Tyler Durdent", "maths":0, "physics": 5,"biology": 100, "chemistry": 10}
str_1 = "As you know, madness is like gravity...all it takes is a little push" # string is also a sequence

In [ ]:
print("lenght of list:",len(list_1))
print("lenght of tuple:",len(tuple_1))
print("lenght of dictionary:", len(dict_1))
print("lenght of string:",len(str_1))

lenght of list: 11
lenght of tuple: 15
lenght of dictionary: 5
lenght of string: 68

## range

Generates a sequence of numbers within the specified range


```
range(start, stop, step) - start, stop, step works similar to list slicing
start - start of the range
stop - stop of the range
steps - steps to increment
```

In [ ]:
range(2,14,2) # this will create a range object and not the actual sequence

range(2, 14, 2)

To create a sequence from range object, one can use for loop or type case the range using list or tuple

In [ ]:
# using type cast of tuple
tuple(range(2,14,3)) # we have a step value of 0.5 here, 14 is not included because stop value is not inclusive

(2, 5, 8, 11)

In [ ]:
# using for loop
# write a program to print only odd number from 1 to 10
for i in range(1,10,2):
  print(i,end="\t") # end parameter in print function will replace new line, so that we can get the result in same line

1	3	5	7	9

In [ ]:
# generating reverse sequence
list(range(20,0,-1))

[20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
# range function expects only the stop value
list(range(10)) # default start - 0 default step-1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

## random module for sequences

we have random builtin functions for sequences, some of them are listed below

```
import random
random.choice(sequence) - chooses an element from the sequence passed
random.shuffle(sequence) - shuffles the sequence in random order
random.sample(sequence, sample_nos) - creates a sample of sequence passed with mentioned sample_nos
```

In [ ]:
import random
list_of_greetings = ["Hi", "Hello","Nice to meet you", "What a pleasant surprice" ,
                     "Hey,You alright?", "Good Morning","Good day","Hey, How are you?"]
random.choice(list_of_greetings)

'Good day'

In [ ]:
num_asc = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
random.shuffle(num_asc) # it does not return anything, it will change the mutable list
num_asc

[11, 10, 14, 2, 15, 20, 19, 16, 6, 3, 9, 13, 17, 5, 18, 8, 12, 4, 7, 1]

In [ ]:
random.sample(range(0,100),10) # samples 10 nos from 0 to 99 range

[3, 22, 50, 49, 1, 83, 56, 7, 11, 6]

## Sorted

Allows you to sort the sequence


```
sorted(sequence, key, reverse)
sequence - sequence to sort
key - function, that will decide the sort order
reverse - Boolean to reverse the order, from ascending to descending
```

In [ ]:
import random
unordered_list = random.sample(range(0,1000),20)
print(unordered_list)

[946, 614, 275, 938, 696, 365, 233, 512, 574, 752, 303, 428, 731, 176, 363, 283, 542, 490, 338, 51]

In [ ]:
print(sorted(unordered_list)) # sorts the list in ascending order

[51, 176, 233, 275, 283, 303, 338, 363, 365, 428, 490, 512, 542, 574, 614, 696, 731, 752, 938, 946]

In [ ]:
print(sorted(unordered_list, reverse = True)) # creates a descending order

[946, 938, 752, 731, 696, 614, 574, 542, 512, 490, 428, 365, 363, 338, 303, 283, 275, 233, 176, 51]

### Key in sorted

using key parameter you can define a function to sort the sequence.
The key function should return a number or alphabet for each element in the sequence

In [ ]:
# function to sort the number based on last digit value
# input - [9, 16, 70, 901]
# sorted - [70, 901, 16, 9]
def sort_last_digit(num):
  sort_key = num % 10
  return sort_key

last_digit_list = [9, 16, 70, 901]
sorted(last_digit_list, key=sort_last_digit )

[70, 901, 16, 9]

In [ ]:
def abcde(num):
  if num==1:
    return "a"
  elif num==2:
    return "b"
  elif num==3:
    return "c"
  elif num==4:
    return "d"
  elif num == 5:
    return "z"
  elif num == 6:
    return "e"

list_1 = [4,2,1,3,6,5]
sorted(list_1, key=abcde)

[1, 2, 3, 4, 6, 5]

In [ ]:
# you can also pass built in function as key, in here len
unordered_string = ["hello", "Vehicle", "Encyclopedia", "apple", "is", 'a', 'he', 'The', "road", ]
sorted(unordered_string, key=len) #len - sort it based on length of the word

['a', 'is', 'he', 'The', 'road', 'hello', 'apple', 'Vehicle', 'Encyclopedia']

In [ ]:
rank_student = {"John": 5, "Jack":10, "Bruce":3, "Betty":4, "Ashley":6, "Anna":1 }
sorted(rank_student) # it will only sort and return the keys

['Anna', 'Ashley', 'Betty', 'Bruce', 'Jack', 'John']

In [ ]:
# if you need it in dictionary format do
dict(sorted(rank_student.items()))

{'Anna': 1, 'Ashley': 6, 'Betty': 4, 'Bruce': 3, 'Jack': 10, 'John': 5}

## sort function for list

You can call the .sort function for the list and sort the list inplace. it wont generate a new sorted list, instead the existing mutable list will be sorted

```
list_name.sort(key, reverse)
```

In [ ]:
unordered_list = random.sample(range(0,1000),20)
print("Before sorting:", unordered_list)
unordered_list.sort()
print("After sorting:", unordered_list)

Before sorting: [7, 737, 253, 216, 662, 728, 83, 66, 12, 309, 273, 669, 93, 658, 378, 848, 0, 131, 788, 534]
After sorting: [0, 7, 12, 66, 83, 93, 131, 216, 253, 273, 309, 378, 534, 658, 662, 669, 728, 737, 788, 848]

In [ ]:
unordered_string = ["hello", "Vehicle", "Encyclopedia", "apple", "is", 'a', 'he', 'The', "road", ]
print("Before sorting:", unordered_string)
unordered_string.sort(key = len, reverse = True)
print("After sorting:", unordered_string)

Before sorting: ['hello', 'Vehicle', 'Encyclopedia', 'apple', 'is', 'a', 'he', 'The', 'road']
After sorting: ['Encyclopedia', 'Vehicle', 'hello', 'apple', 'road', 'The', 'is', 'he', 'a']

## join

join function joins the sequence passed with the help of string parameter. join is the opposite of split.



```
"<string parameter>".join(sequence)
```

In [ ]:
sentences_split = ['See', "I'm", 'not', 'a', 'monster,', "I'm", 'just', 'ahead', 'of', 'the', 'curve']
# Joining the words with space in between
" ".join(sentences_split)

"See I'm not a monster, I'm just ahead of the curve"

In [ ]:
report_heading = ["","Connectivity", "Check", "Report","Summary",""]
"***".join(report_heading)

'***Connectivity***Check***Report***Summary***'

## map

map function applies a function to each elements in the sequence


```
map(function_name, iterator_sequence)
```

In [ ]:
numbers = [1,2,3,4,5,6,7,8,9,10]
def square_of(num):
  return num*num

map(square_of, numbers)

This will create a map object, similar to range object, we can type cast to list or use for loop

In [ ]:
list(map(square_of, numbers))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

We can also pass the range function in place of iterator

In [ ]:
list(map(square_of, range(10,0,-1)))

[100, 81, 64, 49, 36, 25, 16, 9, 4, 1]

## Anonymous or lambda function

Anonymous or lambda functions are functions without any name. It is a better approach if we are going to use the function only once


```
lambda x: x*x
x - is the argument function
x*x - is the return value line
```
Now this can be used in map, instead of passing a function we can define the lambda function in map

In [ ]:
list(map(lambda num: num*num, range(10,0,-1)))

[100, 81, 64, 49, 36, 25, 16, 9, 4, 1]

You can also save lambda function in a variable and call it as a normal function

In [ ]:
square_of_lambda = lambda num: num*num

square_of_lambda(5)

25

## Filter

filter is like map function, but filter will validate a condition on each elements of the sequence, and will create a new sequence of elements that returns True



```
filter(func_name, iterator_sequence)
```

In [ ]:
# filter only even number from list
numbers = [1,2,3,4,5,6,7,8,9,10]
def is_even(num):
  if num%2==0:
    return True
  else:
    return False
filter(is_even, numbers) # This will also create a filter object, need to type cast or use a for loop

In [ ]:
list(filter(is_even, numbers))

[2, 4, 6, 8, 10]

In [ ]:
## you can also use a lambda function in filter just like maps
list(filter(lambda x: x%2==0, numbers))

[2, 4, 6, 8, 10]

## reduce

reduces the entire sequence to a single number



```
from functools import reduce
reduce(function, sequence)
```

In [ ]:
from functools import reduce
#reduce function - reduces the entire list into its total sum
list1 = [10,20, 20, 40, 60] #[30, 20, 40, 60] #[50, 40, 60] # [90, 60] # [150]
y = lambda num1, num2 : num1 +num2

reducedValue = reduce(y, list1)
print(reducedValue)

150

#Built in functions related to time and date

## sleep

occasionally you may need the execution to stop for few seconds and continue again. Classic example is, when you are unable to connect to database or a api system due to a connection time out.

you can do that using sleep function.


```
import time
time.sleep(<seconds>)
```

In [ ]:
# print hello first and wait for 2 seconds and then print world
import time
print("Hello",end=" ")
time.sleep(2)
print("World!")

Hello World!

## datetime module

### now
now function, to print current date and time

In [ ]:
from datetime import datetime

datetime.now()

datetime.datetime(2022, 8, 3, 17, 36, 17, 991818)

## datetime formating -strftime

datetime functions will return date time object, but often we need to format the datetime object to display it in a meaningful way. This is done using strptime function



```
now = datetime.now()
now.strptime('%Y/%m/%d')
```

In [ ]:
now = datetime.now()
print("Format-1 - Date:",now.strftime('%Y/%m/%d'))
print("Format-2 - Date:",now.strftime('%d-%b-%Y'))
print("Format-3 - Date and Time:", now.strftime("%d/%m/%Y %I:%M:%S %p"))

Format-1 - Date: 2022/08/03
Format-2 - Date: 03-Aug-2022
Format-3 - Date and Time: 03/08/2022 06:22:41 PM

## Full list of available date time format

```
Directive	Description	Example
%a	Weekday, short version	Wed
%A	Weekday, full version	Wednesday
%w	Weekday as a number 0-6, 0 is Sunday	3
%d	Day of month 01-31	31
%b	Month name, short version	Dec
%B	Month name, full version	December
%m	Month as a number 01-12	12
%y	Year, short version, without century	18
%Y	Year, full version	2018
%H	Hour 00-23	17
%I	Hour 00-12	05
%p	AM/PM	PM
%M	Minute 00-59	41
%S	Second 00-59	08
%f	Microsecond 000000-999999	548513
%z	UTC offset	+0100
%Z	Timezone	CST
%j	Day number of year 001-366	365
%U	Week number of year, Sunday as the first day of week, 00-53	52
%W	Week number of year, Monday as the first day of week, 00-53	52
%c	Local version of date and time	Mon Dec 31 17:41:00 2018
%C	Century	20
%x	Local version of date	12/31/18
%X	Local version of time	17:41:00
%%	A % character	%
%G	ISO 8601 year	2018
%u	ISO 8601 weekday (1-7)	1
%V	ISO 8601 weeknumber (01-53)	0
```

# Create your own date object using datetime

```
from datetime import datetime
datetime(Year,month, date)
```

In [ ]:
#create your own date
from datetime import datetime
x = datetime(2022, 1, 1)
print(x)

2022-01-01 00:00:00

In [ ]:
# create own date along with time
from datetime import datetime
x = datetime(2022, 1, 1, hour=9, minute=15, second=0)
print(x)

2022-01-01 09:15:00

## timedelta

timedelta function allows you to add days or time to existing date and find a new date from then


```
from datetime import timedelta
days_40 = timedelta(days=40)
```

In [ ]:
from datetime import datetime, timedelta
x = datetime(2022, 1, 1, hour=9, minute=15, second=0)
print("Initial date", x)
x_after_1_year = x + timedelta(days=365)
print("After 1 year:",x_after_1_year)

Initial date 2022-01-01 09:15:00
After 1 year: 2023-01-01 09:15:00

In [ ]:
from datetime import datetime, timedelta
x = datetime(2022, 1, 1, hour=9, minute=15, second=0)
print("Initial date", x)
x_before_1_year = x - timedelta(days=365)
print("Before 1 year:",x_before_1_year)

Initial date 2022-01-01 09:15:00
Before 1 year: 2021-01-01 09:15:00