<a href="https://colab.research.google.com/github/aswinselva03/PythonInADay/blob/main/Python_In_a_Day_BuiltIn_DataStructure_Notebook_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Built-in Data Structure

There are 4 main built-in data structure python supports



```        
- List
- Tuple
- Dictionary
- Set
```

## List

List in python is actually a dynamic array. It allows you to save elements with different data type and is not of fixed size


```
Syntax:
variable_name = [val1, val2, val3]

Example:
true_values = [1, "Yes", True]
```

In [ ]:
# Can save different data types and any size

list_1 = [] # empty list
even_below_10 = [2,4,6,8]
diff_types_5 = ["5", 5, 5.0, "five"]
from_list_object = list(range(0,10,2)) # not preferred

print(list_1, even_below_10, diff_types_5, from_list_object)

[] [2, 4, 6, 8] ['5', 5, 5.0, 'five'] [0, 2, 4, 6, 8]

### Access elements from list

We use indexes to access elements from list. Python is zero based indexing, the index starts from zero to length of list -1

In [ ]:
# access alements from list

string_5_no = diff_types_5[0]
print("Five as num:"+string_5_no)

string_5_word = diff_types_5[3]
print("5 as word:"+string_5_no)

# Access elements from last

string_5_word_from_last = diff_types_5[-1]
print("5 as word from last:"+string_5_no)
float_5_from_last = diff_types_5[-2]
print("5 as float from last:"+string_5_no)

In [ ]:
list_of_10 = [1,2,3,4,5,6,7,8,9,10]

# index range for loop
for i in range(0,len(list_of_10)):  # range is a built in function which will assign 0 to lenght of the list
  print(list_of_10[i])

# enhanced for loop
for i in list_of_10:
  print(i)

### Slicing elements from List

we can slice a list to create subset of the list.



```
Syntax:
list[start:stop:step]

```

In [ ]:
list_of_20 = [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19]
list_of_first_10 = list_of_20[0:10:1] # start from 0th index element, end at (10-1)th index element - stop is non inclusive, step value=1, increment index by 1
print(list_of_first_10)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
#the same can be written with just stop element, python is intelligent enough to take start = index 0 and step = 1  as default
list_of_first_10 = list_of_20[:10]
print(list_of_first_10)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
list_of_last_10 = list_of_20[10:20:1] # starts from 10th index element stops at (20-1)th index element step=1
print(list_of_last_10)
print(list_of_20[10:]) # default value for stop is the last index

print(list_of_20[0:len(list_of_20):2])# step =2 will increment index by two after each element
print(list_of_20[::2])

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [ ]:
#To reverse  the list update the step value as -1
list_of_20[::-1]

[19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

## Adding elements to the list

you can use append, insert and extend functions to add alements in list

```
syntax:
list_name.append(val1)

list_name.insert(index, val1)

list_name.extend(list_name2)
```

In [ ]:
# Adding elements to the list using append
even_below_10 = [2,4,6,8]
even_below_10.append(10) # here we can see append inserts the element at the end
print(even_below_10)

list_1 = []
list_1.append("hello") # will append an element at the end, list_1 is a empty list so it will be the only element
print(list_1)

list_1.append("world") # Also the order of the element in list is maintained
print(list_1)

In [ ]:
# Adding elements to the list using insert
fruits = ["apple", "banana", "cherry", "mango", "orange", "grapes"]

fruits.insert(0, "pomegranate")
print(fruits)

fruits.insert(3, "pineapple")
print(fruits)

['pomegranate', 'apple', 'banana', 'cherry', 'mango', 'orange', 'grapes']
['pomegranate', 'apple', 'banana', 'pineapple', 'cherry', 'mango', 'orange', 'grapes']

In [ ]:
# extend a list with another list, it will concatenate the list to end of another list
list_1 = [1,2,3,4,5]
list_2 = [6,7,8,9,10]
list_1.extend(list_2)

print(list_1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### Update values in a list

we can update the values in list by referencing it using list index

In [ ]:
fruits = ["apple", "banana", "cherry", "mango", "orange", "grapes"]
fruits["2"] = "strawberry"
print(fruits)

### Remove elements

you can remove elements from a list using three ways


```
1. remove
2. pop
3. del
4. clear # to remove all elements in dictionary
```

In [ ]:
# remove elements using remove function

fruits = ["apple", "banana", "cherry", "mango", "orange", "grapes"]

fruits.remove("banana")
print(fruits)

['apple', 'cherry', 'mango', 'orange', 'grapes']

In [ ]:
# remove elements using pop
fruits = ["apple", "banana", "cherry", "mango", "orange", "grapes"]

fruits.pop()
print(fruits)
fruits.pop(1)
print(fruits)

['apple', 'banana', 'cherry', 'mango', 'orange']
['apple', 'cherry', 'mango', 'orange']

In [ ]:
# remove elements using del

fruits = ["apple", "banana", "cherry", "mango", "orange", "grapes"]

del fruits[2]
print(fruits)

['apple', 'banana', 'mango', 'orange', 'grapes']

In [ ]:
# remove all alements from a list

fruits = ["apple", "banana", "cherry", "mango", "orange", "grapes"]

fruits.clear()
print(fruits)

[]

## List Comprehension

This is a pythonic way of creating a list. This helps to generate a list in single line


```
Syntax:
variable_name = [i for i in <iterable>]
```

In [ ]:
# Generate a list from 1 to 100
one_to_hundred = [i for i in range(1,101)]
print(one_to_hundred)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]
[0, 2, 4, 6, 8]

In [ ]:
# normal for loop to identify even numbers from a list
even_num = []
for i in range(0,10):
  if i%2 == 0:
    even_num.append(i)

print(even_num)

even_num = [i for i in range(0,10) if i%2==0 ]
print(even_num)

[0, 2, 4, 6, 8]
[0, 2, 4, 6, 8]

In [ ]:
# find unique elements in a list
fruits = ["apple", "banana", "apple", "mango", "mango", "orange", "mango"]
unique_fruits = []
for i in fruits:
  if i not in unique_fruits:
    unique_fruits.append(i)

print(unique_fruits)

['apple', 'banana', 'mango', 'orange']

## Tuples

Tuples are static arrays and fixed,  tuples consume less memory and faster compared to list


```
syntax:

variable_name = (val1,val2,val3)
variable_name_from_object = tuple(<iterable>)
```

In [ ]:
odd_num_tuple = (1,3,5,7,9)

even_num_tuple = tuple(range(2,9,2))

print(odd_num_tuple, even_num_tuple)

(1, 3, 5, 7, 9) (2, 4, 6, 8)

## Access elements from tuple

Accessing elements in tuple is same as Lists in python. We use index of the element to access the elements from tuple

In [ ]:
odd_num_tuple = (1,3,5,7,9)
print(odd_num_tuple[2], odd_num_tuple[0])

5 1

# Updating, Adding or removing values in Tuple

Since tuples are static array update, add and remove operations are not available in tuple. once a tuple is assigned with values, it can never be changed, hence tuples are immutable whereas lists are mutable


#### List are mutable and tuples are immutable

In [ ]:
fruits_list = ["apple", "banana", "cherry", "mango", "orange", "grapes"]
fruits_list[2] = "raspberry" # List object updates as lists are mutable

fruits_tuple = ("apple", "banana", "cherry", "mango", "orange", "grapes")
fruits_tuple[2] = "raspberry" # Throws error as tuples are immutable

TypeError: ignored

## Slicing a tuple

Slicing the tuple is same as list slicing

In [ ]:
tuple_of_20 = (0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19)
tuple_of_first_10 = tuple_of_20[0:10:1] # start from 0th index element, end at (10-1)th index element - stop is non inclusive, step value=1, increment index by 1
print(tuple_of_first_10)

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [ ]:
print(tuple_of_20[10:20:2]) # print from 10th index element to (20-1)th index element with a step value of 2
print(tuple_of_20[:15]) # print until 15th index element
print(tuple_of_20[::-1]) # reverse the elements in the tuple

(10, 12, 14, 16, 18)
(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14)
(19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0)

## Dictionaries

Dictionaries are key value pairs in python. Each key value pair is called items. This is similar to hash map data structure



```
variable_name = {key1:val1, key2:val2, key3:val3}
variable_name = dict(iterator((key1, val1),(key2,val2),(key3,val3))
```

In [ ]:
student1 = {"English":90, "Maths":100, "Physics":40, "Chemistry": 25, "Biology":70}
print(student1)
student1 = dict((("English",90), ("Maths",100), ("Physics",40), ("Chemistry", 25), ("Biology",70)))
print(student1)

{'English': 90, 'Maths': 100, 'Physics': 40, 'Chemistry': 25, 'Biology': 70}
{'English': 90, 'Maths': 100, 'Physics': 40, 'Chemistry': 25, 'Biology': 70}

### Accessing Values from a dictionary

We can access values of a dictionary by using key as a index. Also using get function with key and a default value

In [ ]:
student1 = {"English":90, "Maths":100, "Physics":40, "Chemistry": 25, "Biology":70}
# key as index
print(student1["Maths"])

# using get
print(student1.get("English"))

100
90

## Advantage of using get over index key

When using index key, if the key is not present in dictionary it will throw key error, whereas get function will not throw error for wrong key, it returns None by default. Also we can set a default value to be returned if the key is not present in dictionary using get function

In [ ]:
student1 = {"English":90, "Maths":100, "Physics":40, "Chemistry": 25, "Biology":70}
print(student1["social"]) # throws key error, as the key is not present in dictionary

KeyError: ignored

In [ ]:
student1 = {"English":90, "Maths":100, "Physics":40, "Chemistry": 25, "Biology":70}
print(student1.get("social")) # this will not throw key error, it returns None

print(student1.get("social", "na")) # we can set our own default value to be returned if key is not present. Here it returns na, instead of None

None
na

### Updating values in dictionary

We can update values in dictionary in two ways



```
- assigning values using index key
- update function for dictionary
```

In [ ]:
# assigning values using index value
student1 = {"English":90, "Maths":100, "Physics":40, "Chemistry": 25, "Biology":70}

student1["Chemistry"] = 100 # existing key will be updated with values assiged
student1["Social"] = 50 # if key is not already existing, a new key value pair will be inserted in dictionary

print(student1)

#assigning values using update function

student1 = {"English":90, "Maths":100, "Physics":40, "Chemistry": 25, "Biology":70}
student1.update({"Chemistry":100, "Social": 50}) # use a dictionary or tuple of key and value for the value to be updated
                                              # if the keys is not not already existing, a new key value pair will be inserted in dictionary

print(student1)

{'English': 90, 'Maths': 100, 'Physics': 40, 'Chemistry': 100, 'Biology': 70, 'Social': 50}
{'English': 90, 'Maths': 100, 'Physics': 40, 'Chemistry': 100, 'Biology': 70, 'Social': 50}

## Removing values from Dictionary

You can remove values from a dictionary using two ways



```
- pop
- del
- clear # to remove all elements in dictionary
```

In [ ]:
#pop
student1 = {"English":90, "Maths":100, "Physics":40, "Chemistry": 25, "Biology":70}

student1.pop("English") # mention the key to be deleted in the dictionary
print(student1)

#del
student1 = {"English":90, "Maths":100, "Physics":40, "Chemistry": 25, "Biology":70}

del student1["English"]
print(student1)

{'Maths': 100, 'Physics': 40, 'Chemistry': 25, 'Biology': 70}
{'Maths': 100, 'Physics': 40, 'Chemistry': 25, 'Biology': 70}

In [ ]:
# clear all items in dictionary
student1 = {"English":90, "Maths":100, "Physics":40, "Chemistry": 25, "Biology":70}
student1.clear()
print(student1)

{}

### Looping through a dictionary

you can loop through the keys in a dictionary and access keys, values and items(keys and values)



```
dictionary_name.keys()
dictionary_name.values()
dictionary_name.items()
```

In [ ]:
student1 = {"English":90, "Maths":100, "Physics":40, "Chemistry": 25, "Biology":70}
print(student1.keys()) # returns an iterable with only keys
print(student1.values()) # returns only the values
print(student1.items()) # returns both key and value

dict_keys(['English', 'Maths', 'Physics', 'Chemistry', 'Biology'])
dict_values([90, 100, 40, 25, 70])
dict_items([('English', 90), ('Maths', 100), ('Physics', 40), ('Chemistry', 25), ('Biology', 70)])

In [ ]:
# for each loop on keys, values and items
print("The subjects scored by student:")
for i in student1.keys():
  print(i)

print("Has the student passed in all exams?")
fail_flag = False
for i in student1.values():
  if i < 40:
    fail_flag = True
if fail_flag:
  print("No,Student has failed")
else:
  print("Yes,Student has passed")


print("Identify the subject in which the student has failed and its mark")

for key, value in student1.items():
  if value < 40:
    print("Student has failed in " +key+ "  as the score is only "+str(value))

The subjects scored by student:
English
Maths
Physics
Chemistry
Biology
Has the student passed in all exams?
No,Student has failed
Identify the subject in which the student has failed and its mark
Student has failed in Chemistry  as the score is only 25

### Dictionary Comprehension

Pythonic way to create a dictionary in a single line



```
syntax:
dictionary_name = {key:val for key,val in iterator(that returns key and value)}
```

In [ ]:
#create a dictionary with key as numbers and value as square of that number

square_num_dict = { i: i*i for i in range(1,11)} #i is the key and i*i is the value

print(square_num_dict)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [ ]:
# create a dictionary from two lists using zip function
subjects = ["English", "Maths", "Physics", "Chemistry", "Biology"]
marks = [90,100, 40, 25, 70]

subject_mark_dict = {subject:mark for subject, mark in zip(subjects, marks)} # Zip combines two seperate iterables into a pair of iterables
print(subject_mark_dict)

{'English': 90, 'Maths': 100, 'Physics': 40, 'Chemistry': 25, 'Biology': 70}

In [ ]:
list(zip(subjects, marks))

[('English', 90),
 ('Maths', 100),
 ('Physics', 40),
 ('Chemistry', 25),
 ('Biology', 70)]

## Sets

Sets are unordered, mutable lists but can have only unique elements in it



```
variable_name = {val1,val2, val3}
variable_name = set(iterator)
```

In [ ]:
# values in a dice set
dice_1 = {1,2,3,4,5,6}
dice_2 = set((1,2,3,4,5,6))

print(dice_1,dice_2)

{1, 2, 3, 4, 5, 6} {1, 2, 3, 4, 5, 6}

### Only unique values in a set

Set as a mathematical set can contain only unique values in it

In [ ]:
list_1 = [1, 2, 2, 3, 5, 3, 6, 4, 4, 5, 6 ]
unique_elements = set(list_1)
print(list_1)
print(unique_elements)

[1, 2, 2, 3, 5, 3, 6, 4, 4, 5, 6]
{1, 2, 3, 4, 5, 6}

## Access elements in a set

Since sets are unordered, we cannot access the elements in set using indexes. only we can loop through the elements in set

In [ ]:
dice_1 = {1,2,3,4,5,6}
print(dice_1[1]) # throws error

TypeError: ignored

In [ ]:
# as a work around you can create a list from set and then access each elements using index
dice_1_list = list(dice_1) #casting set to list
print(dice_1_list)
print(dice_1_list[0])

[1, 2, 3, 4, 5, 6]
1

In [ ]:
# access the elements in a set using for loop
dice_1 = {1,2,3,4,5,6}
for i in dice_1:
  print(i)

1
2
3
4
5
6

### Update elements in a set

Set doesn't allow you to update existing elements in it

In [ ]:
dice_1 = {1,2,3,4,5,6}
dice_1[1]

TypeError: ignored

# Update existing elements is not possible, but adding new elements is possible

We can do this using two functions


```
-- add
-- update # this adds an iterable into existing set
```

In [ ]:
# add single item to a set
countries = {"India", "USA", "Russia", "China", "United Kingdom"}
countries.add("Germany")

print(countries)

{'Russia', 'Germany', 'USA', 'China', 'India', 'United Kingdom'}

In [ ]:
# add multiple item to a set
countries = {"India", "USA", "Russia", "China", "United Kingdom"}
island_countries = {"Australia", "Sri Lanka", "Maldives", "Indonesia", "Cuba"} #set or any iterable

countries.update(island_countries)
print(countries)

{'Russia', 'Cuba', 'Indonesia', 'Sri Lanka', 'Maldives', 'USA', 'China', 'Australia', 'India', 'United Kingdom'}

### Remove elements from a set

We can remove elements from set using the below methods



```
remove  # throws error if the item is not present in set
discard # Does not throw error if the item is not present in set
pop # removes a random item from set, since set is unordered
clear # makes the set empty
```

In [ ]:
# remove
countries = {'Russia', 'Cuba', 'Indonesia', 'Sri Lanka', 'Maldives', 'USA', 'China', 'Australia', 'India', 'United Kingdom'}
countries.remove("China")
print(countries)

#removing countries not present in set - throws error
countries.remove("Afghanistan")

{'Russia', 'Cuba', 'Indonesia', 'Sri Lanka', 'Maldives', 'USA', 'Australia', 'India', 'United Kingdom'}

KeyError: ignored

In [ ]:
# discard
countries = {'Russia', 'Cuba', 'Indonesia', 'Sri Lanka', 'Maldives', 'USA', 'China', 'Australia', 'India', 'United Kingdom'}
countries.discard("China")
print(countries)

#discarding countries not present in set - does not throw error
countries.discard("Afghanistan") # this does nothing
print(countries)

{'Russia', 'Cuba', 'Indonesia', 'Sri Lanka', 'Maldives', 'USA', 'Australia', 'India', 'United Kingdom'}
{'Russia', 'Cuba', 'Indonesia', 'Sri Lanka', 'Maldives', 'USA', 'Australia', 'India', 'United Kingdom'}

In [ ]:
# pop - removes item randomly
countries = {'Russia','USA', 'China', 'India', 'United Kingdom'}
countries.pop()
print(countries)

{'USA', 'China', 'India', 'United Kingdom'}

In [ ]:
# remove all items in set
countries = {'Russia','USA', 'China', 'India', 'United Kingdom'}
countries.clear()
print(countries)

set()

## Set operations

Set data structure is unique because of set operations that can be performed using it



```
It supports following operations
- union        # returns all the items in two sets, but only once
- intersection # returns only items common between two sets
- difference.  # returns items that are not common in first set
- symmetric difference # returns items that are not common in both set
```

In [ ]:
countries = {"India", "Japan", "USA", "Russia", "China", "United Kingdom"}
island_countries = {"Australia", "Sri Lanka", "United Kingdom", "Japan"}

print("Union Operation")
print(countries.union(island_countries)) # returns all items in both sets and each item will be present only once
print(countries | island_countries) # This is using | operator, same as union function

print("Intersection Operation")
print(countries.intersection(island_countries)) # returns items common to both sets
print(countries & island_countries) # This is using & operation, same as intersection function

print("Difference Operation")
print(countries.difference(island_countries)) # returns items from first set(countries) that are not present in second set
print(countries - island_countries) # This is using - operation, same as difference function


print("Symmetric Difference Operation")
print(countries.symmetric_difference(island_countries)) # returns uncommon items from first set(countries) and second set(island_countries)
print(countries ^ island_countries) # This is using ^ operation, same as symmetric difference function

Union Operation
{'Russia', 'Sri Lanka', 'USA', 'Japan', 'China', 'Australia', 'India', 'United Kingdom'}
{'Russia', 'Sri Lanka', 'USA', 'Japan', 'China', 'Australia', 'India', 'United Kingdom'}
Intersection Operation
{'United Kingdom', 'Japan'}
{'United Kingdom', 'Japan'}
Difference Operation
{'China', 'Russia', 'USA', 'India'}
{'China', 'Russia', 'USA', 'India'}
Symmetric Difference Operation
{'Russia', 'Sri Lanka', 'USA', 'China', 'Australia', 'India'}
{'Russia', 'Sri Lanka', 'USA', 'China', 'Australia', 'India'}